*.orig
*.swp
*.pyc
*.a
*.app
*.clp
*.dll
*.dylib
*.exe
*.la
*.lai
*.lib
*.lo
*.o
*.out
*.slo
*.so
*.so.*
*~
.AppleDouble
.DS_Store
.LSOverride
._*
Baselines
data
Data
_build
*.kws
.ipynb_checkpoints

emscripten-build/
wasi-build/
node_modules/
package-lock.json
