{
    "Exec" :
        {
            "ImageMath" :                       "<FullPathToTubeTKBuildDirectory>/bin/ImageMath",
            "TubeToTubeGraph" :                 "<FullPathToTubeTKBuildDirectory>/bin/TubeToTubeGraph",
            "MergeTubeGraphs" :                 "<FullPathToTubeTKBuildDirectory>/bin/MergeTubeGraphs",
            "TubeGraphToImage" :                "<FullPathToTubeTKBuildDirectory>/bin/TubeGraphToImage",
            "AtlasBuilderUsingIntensity" :      "<FullPathToTubeTKBuildDirectory>/bin/AtlasBuilderUsingIntensity",
            "TubeTransform" :                   "<FullPathToTubeTKBuildDirectory>/bin/TubeTransform",
            "TubeGraphToImage" :                "<FullPathToTubeTKBuildDirectory>/bin/TubeGraphToImage",
            "TubesToDensityImage" :             "<FullPathToTubeTKBuildDirectory>/bin/TubesToDensityImage,
            "ComputeTubeProbability" :          "<FullPathToTubeTKBuildDirectory>/bin/ComputeTubeProbability",
            "ComputeTubeGraphProbability" :     "<FullPathToTubeTKBuildDirectory>/bin/ComputeTubeGraphProbability",
            "TubeGraphKernel" :                 "<FullPathToTubeTKBuildDirectory>/bin/TubeGraphKernel",
            "RegisterImages" :                  "<FullPathToTubeTKBuildDirectory>/bin/RegisterImages"
        },
    "cvtCells" : 200
}
